bin
tmp
projects/momentics-workspace/.metadata
projects/eclipse-workspace/.metadata
projects/eclipse-workspace/demo-app-android/bin
projects/eclipse-workspace/appcompat_v7/gen
projects/eclipse-workspace/lib-auframework-app-nucleo/Debug
projects/eclipse-workspace/lib-auframework-app-nucleo/Release
projects/xcode/lib-auframework-app.xcworkspace/xcuserdata
projects/xcode/lib-auframework-app/lib-auframework-app.xcodeproj/xcuserdata
projects/xcode/lib-auframework-app/lib-auframework-app.xcodeproj/project.xcworkspace/xcuserdata
lib-auframework-app.suo

lib-auframework-app.sdf
lib-auframework-app.v12.suo
projects/xcode/lib-auframework-app.xcworkspace/xcshareddata
projects/xcode/lib-auframework-app/lib-auframework-app.xcodeproj/project.xcworkspace/xcshareddata
projects/android/obj
.DS_Store
projects/visual-studio/.vs
src/pdfium_osx
src/pdfium_android
pdfium_android.zip
src/pdfium_win_/
src/pdfium_android_/
src/pdfium_win.zip
/projects/eclipse-workspace/appcompat_v7
*.user
*.jar
*.zip
